<link rel="stylesheet" href="/custom/olshop.css">

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/olshop">SakuraShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item mx-1">
                        <button class="nav-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Kategori
                        </button>
                    </li>
                    <form class="d-flex nav-item mx-2" role="search">
                        <input class="form-control me-2" type="search" placeholder="Cari produk" aria-label="Search">
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="fa-solid fa-search"></i>
                        </button>
                    </form>
                </ul>
                <div class="float-end">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="#">
                                <i class="fa-solid fa-sack-dollar"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link position-relative" href="/olshop/keranjang/list">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <% if (Produk_diKeranjang[0].jumlah > 0) { %>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        <%= Produk_diKeranjang[0].jumlah %>
                                    </span>
                                <% } %> 
                            </a>
                        </li>
                        <!-- baru -->
                        <li class="nav-item mx-1">
                            <div class="dropdown">
                                <button class="nav-link position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-boxes-packing"></i>
                                    <% if (produk_diProses[0].jumlah > 0) { %>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            <%= produk_diProses[0].jumlah %>
                                        </span>
                                    <% } %>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <% for(let i in detailProduk_diProses) { %>
                                            <div class="dropdown-item">
                                                <table>
                                                    <tr>
                                                        <td><%= detailProduk_diProses[i].produk_nama %> (<%= detailProduk_diProses[i].qty %>)</td>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                        <td class="text-end">Rp <%= Number(detailProduk_diProses[i].harga).toLocaleString('id-ID') %></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </li>
                         <!-- baru -->
                        <li class="nav-item mx-1">
                            <a href="/olshop/produk" class="nav-link">
                                <i class="fa-solid fa-boxes-stacked me-1"></i> Produk Saya
                            </a>
                        </li>
                        <li class="nav-item mx-1">
                            <a href="/profil">                                  
                                <% if (!currentUser.foto) { %>
                                    <img src="/image/default_user.png" class="rounded-circle" height="35" width="35" style="object-fit: cover;" alt="...">
                                <% } else { %>
                                    <img src="/upload/produk-foto/<%= currentUser.foto %>" class="rounded-circle" height="35" width="35" style="object-fit: cover;" alt="...">
                                <% } %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="collapse" id="collapseExample">
        <div class="card card-body text-white">
          <div class="row">
            <% for( const i in  kategoriProduk ) { %>
                <div class="col-lg-3">
                    <a href="/olshop/produk/kategori/<%= kategoriProduk[i].id %>" 
                        class="text-decoration-none icon-link">
                        <%= kategoriProduk[i].nama %>
                    </a><br>
                </div>
            <% } %>
          </div>
        </div>
    </div>

    <!-- <pre>
        <%= JSON.stringify( kategoriProduk, null, 4) %>
    </pre> -->
    <style>
        .icon-link {
            color: white; /* Warna teks default */
            transition: color 0.3s; /* Transisi halus untuk perubahan warna */
        }
    
        .icon-link:hover {
            color: rgb(25, 135, 84); /* Ganti dengan warna yang diinginkan saat hover */
        }
    </style>
</header>